* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: "Nunito", sans-serif;
    color: #1a1a1a;
    /* position: fixed; */
    overflow-x: hidden;
}

/* SECTION STYLES */

section {
    display: flex;
    flex-direction: row;
}

section img {
    object-fit: cover;
    display: inline-block;
}

section h2 {
    margin-bottom: 2rem;
    width: 100%;
}

/* END OF SECTION STYLES */

/* TOP BAR */

#topBar {
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #1a1a1a;
}

#topBar div {
    color: white;
}

/* END OF TOP BAR */

/* NAVBAR STYLES */

#mainNavbar {
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #736358;
}

#navLinks {
    margin-right: 1rem;
}

#navLinks, #navLinksMin {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}


#navLinks li {
    margin: 0 1rem;
}

#navLinks li a, #navLinksMin li a, #navbarBrand {
    color: white;
    text-decoration: none;
}

#navLinks li a.active, #navLinks li a:hover, #navLinksMin li a.active, #navLinksMin li a:hover {
    font-weight: 700;
}

#navLinksMin {
    top: 5rem;
    right: 0;
    margin: 0;
    height: calc(100vh - 5rem); 
    width: 100%;
    background-color: rgba(115, 99, 89, 0.7);
    position: absolute;
    flex-direction: column;
    align-items: center;
    text-align: right;
    transform: translateX(100%);
}

#navLinksMin li {
    opacity: 0;
}

#navbarBrand {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 1rem;
}

#burger {
    display: none;
    cursor: pointer;
}

#burger div {
    height: 3px;
    width: 1.5rem;
    margin: 5px 1rem;
    background-color: white;
    /* background-color: white; */
    transition: all 0.3s ease;
}


#navLinksMin.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggled .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggled .line2 {
    opacity: 0;
}

.toggled .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* END OF NAVBAR */

/* HERO IMAGE */

.hero-image {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

/* END OF HERO IMAGE */

/* FEATURED ITEMS */

#featuredItems {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee;
}

#featuredItems h2 {
    text-align: center;
}

/* #featuredItems div {
    padding: 1rem;
}

#featuredItems div h3, #featuredItems div p {
    color: black;
}

#featuredItems img {
    width: 100%;
}

.featured-item-card {
    width: 265.77px;
    height: 377.77px;
    margin: 1rem;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}  */

/* END OF FEATURED ITEMS */

/* WHO WE ARE */

#whoWeAre div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: white;
    background-color: #a67d56;
}

#whoWeAre div, #whoWeAre img {
    height: 100vh;
    width: 50vw;
}

/* END OF WHO WE ARE */

/* TESTIMONIALS */

#testimonials {
    min-height: 100vh;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
    padding: 2rem;
}

#testimonials h2 {
    text-align: center;
    margin-bottom: 2rem;
}

#testimonialCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.testimonial-card {
    width: 20%;
    min-width: 300px; 
    border-radius: 0.2rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ^^^ might have to add this class to featured items too */

.testimonial-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    align-self: center;
    margin: 2rem 0;
}

.testimonial-name {
    font-weight: 700;
}

/* END OF TESTIMONIALS */

/* SHIPPING AND DELIVERY */

#shippingAndDelivery img, #shippingAndDelivery div {
    height: 100vh;
    width: 50vw;
}

#shippingAndDelivery img {
    object-fit: cover;
}

#shippingAndDelivery div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: white;
    background-color: #f59332;
}

/* END OF SHIPPING AND DELIVERY */

/* OUR STORY */

#ourStory {
    height: 100vh;
    background-color: #eeeeee;
}

#ourStory img {
    height: 80%;
    align-self: center;
    margin-right: 2rem;
    border-radius: 0.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#ourStory div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    color: black;
}

/* END OF OUR STORY */

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {

    /* HERO IMAGE */
    #heroImage {
        height: unset;
    }
    #navLinks {
        display: none;
    }
    #navLinksMin {
        transition: transform 0.5s ease-in;
    }
    #navLinks li {
        opacity: 0;
    }
    #burger {
        display: block;
    }

    #whoWeAre, #shippingAndDelivery {
        flex-direction: column;
    }
    #whoWeAre img, #whoWeAre div, #shippingAndDelivery img, #shippingAndDelivery div {
        height: 100vh;
        width: 100vw;
    }
}

/* END OF MEDIA QUERIES */










/* .hero-container {
    position: relative;
    text-align: center;
    color: white;
    z-index: 100;
}

.some-text {
    position: absolute;
    bottom: 5rem;
    left: 3rem;
} */